.card {
    background-color: white;
    border-radius: 16px;
    padding: 20px 0;
    margin: 10px;
  }
  
  .card_action {
      color: $myPink;
      text-decoration: underline;
  }
  
  .card_action:hover {
      cursor:pointer;
  }
  