@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap');


@import './variables';

.transparent {
    background-color: rgba(255, 255, 255, 0.5);
}

.navbar {
    position : fixed;
    top: -0px;
    z-index: 5;
    width: 100%;
}

* {
  font-family: 'Poppins', sans-serif;
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  max-width: 100%;
  padding-top: 60px;
}

body {
  background-image: linear-gradient(62deg, $myPurple 0%, $myBlue 100%);
  justify-content: center;
  min-height: 100vh;
}

h1 {
  color: white;
}

.card {
  max-width: 100%;
  background-color: white;
  border-radius: 16px;
  padding: 20px;
}

.card_action {
    color: $myPurple;
    text-decoration: underline;
}

.card_action:hover {
    cursor:pointer;
}

footer {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  padding: 15px 0px;
}

.btn-primary:hover{
  color:$myPurple;
  background-color: white;
  border-color: $myPurple;
}

.btn.btn-primary.disabled, .btn.btn-primary:disabled, .btn-primary, .btn-primary:active:focus{
  color: white;
  background-color: $myPurple;
  border-color: $myPurple;
}


.nav-item .nav-link a{
  color: $myPurple;
}

.form-control:hover, .form-control:focus{
  border-color: $myPurple;
}

.form-control:focus{
  box-shadow: 0 0 0 0.2rem $myPurple;
}