@import 'bootstrap/dist/css/bootstrap.css';
@import './font';
@import './variables';
@import './header';
@import './footer.scss';
@import './card';
@import './form';

.transparent {
    background-color: rgba(255, 255, 255, 0.5);
}

* {
  font-family: 'Poppins', sans-serif;
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  max-width: 100%;
  padding-top: 60px;
}

body {
  background-image: linear-gradient(62deg, $myPurple 0%, $myBlue 100%);
  justify-content: center;
  min-height: 100vh;
}

body {
  background-color: rgba(45, 0, 89, 1);
  background-image:   
      radial-gradient(
          circle farthest-corner at top left, rgba(201, 0, 118,1) 0%, rgba(225, 243, 97,0) 50%),
      radial-gradient(
          circle farthest-corner at top right, rgba(45, 0, 89, 1) 0%, rgba(45, 0, 89, 1) 10%),
      radial-gradient(
          circle farthest-side at bottom right, rgba(201, 0, 118,1) 0%, rgba(201, 0, 118,1) 33%),
      radial-gradient(
          circle farthest-side at bottom left, rgba(201, 0, 118,1) 0%, rgba(201, 0, 118,1) 33%),
      radial-gradient(
          ellipse at bottom center, rgba(201, 0, 118,1) 0%, rgba(201, 0, 118,1) 80%);
}

h1 {
  color: white;
}

#brand {
  color: $myPink;
}

.nav-link .nav-brand #brand:hover  {
  color: aqua;
}

.btn-primary:hover{
  color:$myPink;
  background-color: white;
  border-color: $myPink;
}

.btn.btn-primary.disabled, .btn.btn-primary:disabled, .btn-primary, .btn-primary:active:focus{
  color: white;
  background-color: $myPink;
  border-color: $myPink;
}