@import 'bootstrap/dist/css/bootstrap.css';
@import './font';
@import './variables';
@import './header';
@import './footer.scss';
@import './card';
@import './form';
@import './background';

.transparent {
    background-color: rgba(255, 255, 255, 0.5);
}

* {
  font-family: 'Poppins', sans-serif;
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  max-width: 100%;
  padding-top: 60px;
}


body{
  overflow: scroll;
  position: relative;
  padding-bottom: 7.4em;
  background-color: $myBlue;
  min-height: 100vh;
}

h1, h2, h3, h4, h5 {
  color: white;
}

.logo {
  width: 22px;
  height: 22px;
  filter: invert(0.5);
}

.logo:hover{
  filter: invert(1);
}

.logow {
  width: 25%;
  filter: invert(1);
}

.btn-primary:hover{
  color:$myPink;
  background-color: white;
  border-color: $myPink;
}

.btn.btn-primary.disabled, .btn.btn-primary:disabled, .btn-primary, .btn-primary:active:focus{
  color: white;
  background-color: $myPink;
  border-color: $myPink;
}

.pinky {
  color: $myPink;
}

.pannel {
  background-color: $myDarkTransparent;
  padding: 20px 5px 20px 5px;
  color: white;
}

.container {
  min-width: 75%;
}